.inner-border {
  box-sizing: border-box;
  box-shadow: 0 0 0 1px transparent inset;
}

.is-border-blue {
  box-shadow: 0 0 0 1px $color--bg--bottom inset;
}

/* stylelint-disable-next-line */
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.clear-fix {
  display: block;
  height: 0;
  box-sizing: border-box;
  overflow: hidden;
  clear: both;
  visibility: hidden;
  content: "";
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
