/* stylelint-disable-next-line */
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.clear-fix {
  display: block;
  height: 0;
  box-sizing: border-box;
  overflow: hidden;
  clear: both;
  visibility: hidden;
  content: "";
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
