$color--bg--playground: #1e1e1e;
$color--bg--bar: lighten($color--bg--playground, 7%);
$color--bg--top: lighten($color--bg--playground, 10%);
$color--bg--menu: lighten($color--bg--playground, 0.8%);
$color--bg--bottom: #007acc;

$color--text--main: #fff;
