.home-page {
  display: flex;
  color: $color--white;
  flex-direction: column;

  &-body {
    flex: 1;
    display: flex;

    &-tools {
      width: 48px;
      background: $color--bg--bar;
    }

    &-explorer {
      width: 340px;
      background: $color--bg--menu;
    }

    &-content {
      flex: 1;
    }
  }
}
