.menu-bar {
  $menuBarHeight: 30px;

  height: $menuBarHeight;
  background: $color--bg--top;

  &-body {
    float: left;
    margin: 0;
    list-style: none;
  }

  &-title {
    height: 100%;
    margin: 0 auto;
    line-height: $menuBarHeight;
    text-align: center;
  }

  &-actions {
    float: right;
  }
}
