.menu-bar {
  $menuBarHeight: 30px;

  position: relative;
  height: $menuBarHeight;
  background: $color--bg--top;

  &-body {
    position: absolute;
    top: 0;
    left: 0;
    height: $menuBarHeight;
    line-height: $menuBarHeight;
  }

  &-title {
    height: 100%;
    margin: 0 auto;
    font-size: 10px;
    line-height: $menuBarHeight;
    text-align: center;
  }

  &-actions {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    height: $menuBarHeight;
    line-height: $menuBarHeight;
  }

  &-action {
    @include flex-center;

    width: 48px;
    height: 100%;
    box-sizing: border-box;

    &:hover {
      background: $color--bg-bar-action-hover;
    }

    &:last-child:hover {
      background: $color--red;
    }
  }
}
